<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登入頁</title>
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<br>
<p>請先登入再做任何事喔OUO</p>
<br>
<div class="form">
    <form method=post action="/login">
        <input type=text placeholder="帳號" maxlength="25" name="UID" required><br>
        <input type=password placeholder="密碼" name="passwd"><br>
        <label><input type=checkbox name="stay">記住我</label><br>
        <button type=submit>登入</button>
    </form>
</div>
</body>
</html>

