.circle{
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-color: gray;
    display: inline-block;
    color: white;
    text-align: center;
}
.box{
    display: inline-block;
    vertical-align: text-top;
    min-height: 128px;
}
#tabs{
    width: 625px;
    min-height: 168px;
    position: relative;
}
#tabs-1{
    width: 600px;
    min-height: 128px;
    position: relative;
    margin-left: 20px;
}
#tabs-2{
    width: 600px;
    min-height: 128px;
    position: relative;
    margin-left: 20px;
}
.tab_container{
    width: 600px;
    padding-top: 8px;
    padding-left: 8px;
    border: 1px solid;
    border-color: #778899;
    border-radius: 2px;
    background-color: #DCDCDC;
}
.tab{
    cursor: pointer;
    text-align: center;
    padding: 5px;
    background-color: #eee;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    display: inline-block;
}
.tab_active{
    cursor: default;
    background-color: #7DB9DE;
    color: white;
}
.nochecked{
    width: 625px;
    height: 168px;
    text-align: center;
    padding-top: 64px;
    position: relative;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 1);
    border-radius: 2px;
}
.sthchecked{
    width: 625px;
    min-height: 168px;
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 1);
    border-radius: 2px;
}
.button{
    border: 1px solid gray;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(200, 200, 200, 1);
}
.addbutton{
    height: 20px;
    width: 65px;
    border-radius: 1em;
    line-height: 20px;
    font-size: small;
}
.savebutton{
    height: 30px;
    width: 100px;
    border-radius: 5em;
    line-height: 30px;
    margin-top:5px;
}    
.chooseact{
    position: relative;
    top: 15px;
    height: 40px;
    width: 550px;
    left: 10px;
    text-align: center;
}
.delete{
    position: relative;
    top: 15px;
    height: 40px;
    width: 550px;
    left: 10px;
    text-align: center;
    color: #707C74;
}
.delete:hover{
    color: #1C1C1C;
}
.actions{
    min-height: 0px;
    width: 565px;
}
.o_actions{
    min-height: 0px;
    overflow: hidden;
    position: relative;
}
.o_div{
    height: 100%;
    width: 565px;
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(200, 200, 200, 0.5);
}
.title{
    height: 20px;
    width: 565px;
    position: relative;
    text-align: center;
}
.poked{
    margin-bottom: 30px !important;
}
.expression{
    min-height:50px;
    width: 100%;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 0.5px 1px 0.5px 1px;
    border-color: white;
    background-color:rgba(200, 200, 200, 1);
    padding: 12px;
}
.expression .if {
    padding: 5px;
    border-bottom-style: none;
}
.expression .elif {
    padding: 5px;
}
.expression .else {
    padding: 5px;
    border-top-style: none;
}
.indent-block{
    margin-left: 10px;
    margin-top: 10px;
}
.indent-block:child{
    width: 100%;
}
.indent-title{
    height: 20px;
    width: 100%;
    margin-bottom: -10px;
}
.indent-title:only-child{
    background-color: white;
    cursor: auto;
    height: 20px;
    margin-right: 10px;
}
.indent-title:only-child:before {
    display: block;
    content: "拖曳放入動作方塊";
    color: lightgray;
    line-height: 20px;
}
input[type=text]{
    height: 20px;
    width: 70px;
}
.addcond{
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
span.cond{
    display: inline-block;
    line-height: 24px;
}
span.cond:not(:first-child):before{
    content: "　且";
}
.addelif{
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    right: 20px;
}
